 
    .button {
      background-color: #0e71b8; /* blue */
      border: none;
      color: black;
      padding: 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 25px;
    }
button:hover{
  background-color: rgb(179, 194, 20);
}

font {
  font-size: 100px;
  color: white;
}